.checkout-page {
  width: 1000px;
  margin: auto;
  margin-top: 160px;
  padding: 2rem;
  font-family: Arial, sans-serif;
  border: 2px solid #B0B0B0;
  border-radius: 30px;
}

.checkout-page h1{
  font-size: 24px;
}
.order-box {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 2px solid #B0B0B0;
  border-radius: 30px;
}

.order-box h2 {
  font-size: 32px;
  margin-top: 0;
  color: #333;
}
.order-box p {
  font-size: 20px;
  margin-top: 0;
  color: #333;
}
.payment-options {
  display: flex;
  justify-content: center;
  gap: 6rem;
  margin-bottom: 1rem;
  
}
.payment-options button {
  width: 220px;
  height: 60px;
  padding: 0.5rem 1rem;
  background-color: white;
  color: black;
  border: 2px solid #B0B0B0;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 550;
}
.payment-options button:hover {
  color: white;
  background: #1d4ed8;
  border: 2px solid #1d4ed8;
}

.pay-button {
  display: block;
  margin: 0 auto;
  width: 85%;
  background: #2563eb;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

.pay-button:hover {
  background: #1d4ed8;
}