.container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 2rem;
  font-family: Arial, sans-serif;
  color: black;
  max-width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
}

.form-section {
  flex: 2;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #c4c4c4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

  .form-row {
    display: grid;
    gap: 1.5rem;
  }

  .form-subgroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
}

.row-2 {
  grid-template-columns: repeat(2, 1fr);
}

.summary-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;

  label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 20px;
    color: black;
  }

  input {
    padding: 0.7rem 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    outline: none;

    &:focus {
      border-color: #3b71fe;
      box-shadow: 0 0 0 2px rgba(59, 113, 254, 0.2);
    }
  }
}

h2 {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: #3f3545;
}

h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.number-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  label {
    font-weight: bolder;
    font-size: 20px;
  }

  .number-input {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    button {
      background-color: white;
      border: 1px solid #b0b0b0;
      padding: 0.4rem 0.8rem;
      border-radius: 6px;
      font-size: 1.2rem;
      font-weight: lighter;
      cursor: pointer;
      transition: all 0.2s ease;
      color: black;

      &:hover {
        background-color: #ddd;
      }
    }

    span {
      min-width: 24px;
      text-align: center;
      font-size: 1.1rem;
    }
  }
}

.summary-box {
  background-color: #fff;
  padding: 1.5rem;
  border: 1px solid #eee;
  border-radius: 10px;
  border-width: 1px;
  border-color: #c4c4c4;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.04);

  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
  }

  h3 {
    margin: 0.5rem 0;
    font-size: 1.2rem;
  }

  p {
    margin: 0.4rem 0;
    font-size: 1rem;
  }

  .tongTien {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
  }
}

.submit-button {
  align-self: flex-end;
  button {
    margin-top: auto;
    background-color: #3b71fe;
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #6d28d9;
    }
  }
}
